$font-family: 'Hind', sans-serif;

$color-text-header: #2c2f3c;
$color-text-underline: #14a0c7;
$color-text: #adc3ce;

$color-background-body: #fff;
$color-background-card-footer: #21232e;
$color-background-button: #699900;

$image-header: "../img/m-h-day.jpg";

$background-banner: linear-gradient(45deg, #699902 0%,#2b59de 100%);