$font-family: 'Fresca', sans-serif;

$color-text-header: #fff;
$color-text-underline: #ff4e33;
$color-text: #d1d1d1;

$color-background-body: #21232e;
$color-background-card-footer: #3b3f50;
$color-background-button: #e3ac00;

$image-header: "../img/m-h-night.jpg";

$background-banner: linear-gradient(45deg, #e3ab01 0%,#922b54 100%);